*.png
.cmake/
Graphs/*
!Graphs/.gitkeep
_data/in/*
!_data/in/.gitkeep
_data/out/*
!_data/out/.gitkeep
_data/data.csv
_data/data_autoparam.csv
_data/_technical/ST-MVL/*
!_data/_technical/ST-MVL/TrainingFolder
_data/_technical/ST-MVL/TrainingFolder/*
!_data/_technical/ST-MVL/TrainingFolder/.gitkeep
*.out
*.sqlite
Results
results.db

build/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cmake_build_debug/
Makefile

# Copmpiled C/C++ files
*.out
*.so
*.dll
*.exe

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Caching files
__pycache__/

# IDE specific files
.idea/
.vscode/

reduced_bench

# Personal Files
draw_graphs.py
multi_run.py
run_commands.py
