*.png
.cmake/
_data/
Graphs/*
*.out
*.sqlite
Results
results.db

build/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.out
*.so
*.dll
*.exe

.idea/
.vscode/

reduced_bench
